.Button {
  padding: 0.5rem 3rem;
  outline: none;
  line-height: 1.9;
  border-radius: 4px;

  span {
    font-weight: 500 !important;
  }

  &-outline {
    border: 4px solid var(--app-color);
    color: var(--app-color);
    background-color: var(--color-white);
  }
}
