.Hero {
  padding: 3rem 0;

  @media (max-width: 120rem) {
    padding: 3rem;
  }
}

.Stats {
  background-color: var(--color-white);

  @media (max-width: 120rem) {
    padding: 0 3rem;
  }

  &__inner {
    padding: 5rem 0;
    max-width: 115rem;
    margin: 0 auto;
    border-radius: 1rem;
    border-radius: 10px;
    box-shadow: 0 2rem 4rem rgba($color: #000, $alpha: 0.1);
  }

  &__details {
    border-right: 2px solid #eeeff2 !important;
  }
}

.Features {
  padding: 10rem 0;

  @media (max-width: 120rem) {
    padding: 10rem 3rem;
  }

  &__right {
    max-width: 38rem;
    margin: 0 0 0 auto;
  }
}

.Plan {
  background-color: var(--color-grey1);
  padding: 6rem 0 10rem 0;

  @media (max-width: 120rem) {
    padding: 6rem 3rem 10rem 3rem;
  }

  &__text-box {
    max-width: 55rem;
    margin: 0 auto 6rem auto;
  }
}

.Sponsors {
  padding: 6rem 0;

  @media (max-width: 120rem) {
    padding: 6rem 3rem;
  }

  &__text-box {
    max-width: 40rem;
    margin: 0 auto 7rem auto;
  }
  &__logo {
    width: 20%;
  }
}

.Testimony {
  @media (max-width: 120rem) {
    padding: 0 3rem;
  }

  &__card-wrapper {
    max-width: 125rem;
    margin: 0 0 0 auto;

    @media (max-width: 115rem) {
      max-width: 115rem;
      margin: 0 auto;
    }
  }

  &__text-box {
    max-width: 40rem;
    margin: 0 auto 7rem auto;
  }
}

.Subscribe {
  @media (max-width: 120rem) {
    padding: 0 3rem;
  }

  &__inner {
    padding: 4rem 5rem;
    background-color: #fff;
    max-width: 115rem;
    margin: 0 auto 0 auto;
    border-radius: 1rem;
    border-radius: 10px;
    box-shadow: 0 2rem 4rem rgba($color: #000, $alpha: 0.1);
    background-color: var(--color-white);
    margin-bottom: -12rem;
    background-color: #fff;
    position: relative;
    z-index: 999;
  }

  &__text-box {
    width: 40rem;
  }
}
