.CardPrice {
  text-align: center;
  border: 2px solid #dddddd;
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 3rem 2rem;
  height: 65rem;

  &__image {
    height: 20rem;
  }
}

.CardTestimony {
  border: 2px solid #dddddd;
  border-radius: 4px;
  padding: 3rem;
  &__image {
    height: 6rem;
  }
}
