.CardPrice {
  text-align: center;
  border: 2px solid #dddddd;
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 3rem 2rem;
  min-height: 65rem;

  @media (max-width: 767px) {
    max-width: 50rem;
    margin: 0 auto;
  }

  &__image {
    width: 60%;
  }
}

.CardTestimony {
  border: 2px solid #dddddd;
  border-radius: 4px;
  padding: 3rem;

  &__name,
  &__location {
    line-height: 1;
  }

  &__image {
    height: 5rem;
  }
}

.active {
  border: 2px solid var(--app-color);
}

.shadow {
  box-shadow: 0 2rem 4rem rgba($color: #000, $alpha: 0.1);
}
