.Github {
  padding: 2rem 0 10rem 0;

  @media (max-width: 800px) {
    padding: 2rem 3rem 10rem 3rem;
  }

  &__card-wrapper {
    max-width: 80rem;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__flex {
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }

  &__card {
    // This style rule overrides the default border
    // and radius of ant design Card component hence
    // the reason for usin !important
    border: 2px solid #dddddd !important;
    border-radius: 1rem !important;
  }

  &__card-img {
    height: 15rem;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    max-width: 80rem;
    margin: 0 auto;
  }
}
