.Header {
  @media (max-width: 1200px) {
    padding: 0 3rem;
  }

  &__drawer-icon {
    width: 3.5rem;
    display: none;

    @media (max-width: 768px) {
      display: inline-block;
    }
  }

  &__nav {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__nav-link {
    line-height: 1.9;
    color: var(--color-grey2);
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__cta {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__cta-link {
    font-weight: 500;
    line-height: 1.9rem;
    cursor: pointer;
    margin-right: 2rem;
  }
}
