.Footer {
  background-color: var(--color-grey1);
  padding: 20rem 0 10rem 0;

  @media (max-width: 120rem) {
    padding: 20rem 3rem 10rem 3rem;
  }

  @media (max-width: 575px) {
    text-align: center;
  }

  &__copy {
    font-size: 16px;
    line-height: 30px;
    color: #afb5c0;
  }
}
