:root {
  --app-color: #ba55d3;
  --color-grey1: #fbfbfb;
  --color-grey2: #4f5665;
  --color-grey3: #0b132a;
  --color-white: #fff;
  --color-black: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--color-grey2);
  font-size: 1.6rem;
  line-height: 1.6;
}

// Reusable Classes //

// flex classes
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.center {
  text-align: center;
}

.mr20 {
  margin-right: 2rem;
}

.mr10 {
  margin-right: 1rem;
}

.mb10 {
  margin-bottom: 1rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb30 {
  margin-bottom: 3rem;
}

.mb50 {
  margin-bottom: 5rem;
}

.mb100 {
  margin-bottom: 10rem;
}

.app-heading1 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 7rem;
  color: var(--color-grey3);
  text-shadow: 0px 2px 4px var(--app-color);
}

.app-heading2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  color: var(--color-grey3);
}

.app-heading3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--color-grey3);
}

.app-heading4 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
}

.app-heading5 {
  font-weight: normal;
  font-size: 2rempx;
  line-height: 3rempx;
}

.app-heading6 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
}

.app-paragraph1 {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3rem;
}

.app-paragraph2 {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 3rem;
}
